*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
}

.container{
    margin: 25px 25px;
}

.header{
    width: auto;
    height: 30px;
    background-color: rgb(88, 90, 97);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header .red{
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 7.5px;
    left: 15px;
    background: #e60000;
    border-radius: 50%;
}

.header .yellow{
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 7.5px;
    left: 20px;
    background: #e6d700;
    border-radius: 50%;
}

.header .green{
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 7.5px;
    left: 25px;
    background: #13e600;
    border-radius: 50%;
}

.container .pre{
    margin-top: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #292c35;
}

.makefile{
    margin: 0 25px;
}

.makefile .pre{
    border-radius: 5px;
    background-color: #373a3f;
}